.currContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-bottom: 50px;
}

#curriculumFrame {
    width: 75%;
    min-height: 30rem;
    height: 100%;
}

@media screen and (max-width: 480px) {
    .currContainer {
        height: 70vh;
    }    
}
