header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 25px;
    background: var(--color-accent-alt);
}

.logo {
    margin-right: auto;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0 5px;
}

.navbar li a {
    text-decoration: none;
    color: var(--color-text);
}

.navbar li a:hover {
    text-decoration: none;
    color: var(--color-accent);
}

.navbar li.active a {
    color: var(--color-gray);
}

.headerImage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 100px;
}

.hamburger-lines {
    display: none;
}

.checkbox {
    display: none;
}

@media screen and (max-width: 480px) {
    .headerImage {
        margin-bottom: 50px;
    }

    .navUl {
        width: 100%;
    }

    .navbar li.active a {
        color: var(--color-accent-alt);
    }

    .container {
        max-width: 1050px;
        width: 100%;
        margin: auto;
    }

    .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
        padding-left: 0;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }

    .navbar .menu-items {
        display: flex;
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    /*.navbar .nav-container a:hover {}*/

    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #848484;
    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        transition: background 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
        transition: background 0.0s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        transition: background 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 40px;
        background: #848484;
        height: fit-content;
        min-height: 150px;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: -20px;
        right: 5px;
        color: #000;
        width: 60px;
    }

    .nav-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
        background: #fff;
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
        background: #fff;
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
        background: #fff;
    }

    .nav-container input[type="checkbox"]:checked~.logo {
        display: none;
    }

    body {
        margin: 0;
    }
}